<!-- admin.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>報名者列表</title>
</head>
<body>
    <!-- 上方導覽列 -->
    <div th:replace="~{fragments/nav :: adminNav(false)}"></div>
    
    <h2>報名者聯絡資訊</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>電子郵件</th>
            <th>電話</th>
            <th>學校/單位</th>
            <th>報名時間</th>
            <th>編輯</th>
        </tr>
        <tr th:each="record : ${registrations}">
            <td th:text="${record.id}"></td>
            <td th:text="${record.registerName}"></td>
            <td th:text="${record.mailAddress}"></td>
            <td th:text="${record.phoneNum}"></td>
            <td th:text="${record.schoolApart}"></td>
            <td th:text="${#temporals.format(record.registDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td>
                <a th:href="@{/admin/detail(id=${record.id})}">詳情</a><br>
            </td>
        </tr>
    </table>
</body>
</html>
