<!-- list.html -->
<!DOCTYPE html>
<html lang="zh-tw" xmlns:th="http://www.thymeleaf.org"
        xmlns=layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/layout}">
<body>
    <!-- 主內容區 -->
    <div layout:fragment="content">
        <div class="container">
            <table class="study-table">
                <tr>
                    <th>讀書會名稱</th>
                    <th>讀書會日期</th>
                    <th>讀書會地點</th>
                    <th>報名截止時間</th>
                    <th>名額</th>
                    <th>報名</th>
                </tr>
                <!-- 使用 th:each 迴圈顯示讀書會列表 (for迴圈)-->
                <tr th:each="study : ${studies}">
                    <td th:text="${study.name}"></td>
                    <td th:text="${#temporals.format(study.date, 'yyyy-MM-dd')}"></td>
                    <td th:text="${study.location}"></td>
                    <td th:text="${#temporals.format(study.deadline, 'yyyy-MM-dd')}"></td>
                    <td th:text="${study.quota}"></td>
                    <td>
                        <span th:if="${study.expired and study.remainingQuota == 0}">報名已截止<br>名額已滿</span>
                        <span th:if="${study.expired and study.remainingQuota > 0}">報名已截止</span>
                        <span th:if="${!study.expired and study.remainingQuota == 0}">名額已滿</span>
                    <a th:if="${!study.expired and study.remainingQuota > 0}">
                            剩餘名額 <span th:text="${study.remainingQuota}"></span></br>
                            <a th:href="@{/regist(studyId=${study.id})}">報名</a>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>