<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>編輯</title>
</head>
<body>
    <div th:replace="~{fragments/nav :: adminNav(false)}"></div>
    
    <form th:action="@{/admin/studies/detail/{id}/edit(id=${study.id})}" method="post">
        <h1>編輯內容</h1>
        <label for="name">讀書會名稱：</label>
        <input type="text" id="name" name="name" th:value="${study.name}" required><br><br>

        <label for="date">讀書會時間：</label>
        <input type="datetime-local" id="date" name="date" th:value="${#temporals.format(study.date, 'yyyy-MM-dd HH:mm')}" required><br><br>

        <label for="location">讀書會地點：</label>
        <input type="text" id="location" name="location" th:value="${study.location}" required><br><br>

        <label for="deadline">報名截止時間：</label>
        <input type="datetime-local" id="deadline" name="deadline" th:value="${#temporals.format(study.deadline, 'yyyy-MM-dd HH:mm')}" required><br><br>

        <label for="quota">名額：</label>
        <input type="number" id="quota" name="quota" th:value="${study.quota}" required><br><br>

    
        <input type="hidden" name="id" th:value="${study.id}" />
        <button type="submit">儲存</button>
    </form>
</body>
</html>