<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>報名者列表</title>
</head>
<body>
    <h2 th:text="'讀書會場次：' + ${study.name} + ' 報名者列表'">讀書會場次：___ 報名者列表</h2>


    <table border="1">
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>信箱</th>
            <th>電話</th>
            <th>學校/單位</th>
            <th>報名時間</th>
        </tr>
        <tr th:each="registRecord : ${registrations}">
            <td th:text="${registRecord.id}"></td>
            <td th:text="${registRecord.registerName}"></td>
            <td th:text="${registRecord.mailAddress}"></td>
            <td th:text="${registRecord.phoneNum}"></td>
            <td th:text="${registRecord.schoolApart}"></td>
            <td th:text="${#temporals.format(registRecord.registDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td>
                <a th:href="@{/admin/detail(id=${registRecord.id})}">詳情</a><br>
        </tr>
    </table>
</body>
</html>
