/* style.css */
.header {
    text-align: center; /* 確保 header 置中 */
}
body {
    background: linear-gradient(to right, #fcc257, #ff9940);
    /* 這裡使用了從橙色到淡橙色的漸層 */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: px;
    letter-spacing: 6px;
    /* 文字間距 */
    text-shadow: 2px 2px 4px #af9e9ef5;
    /* 文字陰影 */
    text-transform: uppercase;
    /* 文字轉換為大寫 */
    font-weight: bold;
    line-height: 3;
}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}
.main-content {
    flex: 3;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #999;
    text-align: left;
}
.sidebar h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.sidebar ul{
    flex: 1;
    padding-left: 20px;
    border-radius: 10px;
    text-align: left;
}

.sidebar ul li {
    list-style: none; /* 去除預設的項目符號 */
    margin-bottom: 10px;

}

.site-header {
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);  /* 輕微陰影 */
    margin-bottom: 20px;
}

.site-header h1 {
    margin: 0;
    font-size: 36px;
    letter-spacing: 4px;  /* 字母間距 */
}

.site-header a {
    text-decoration: none;
    color: #f5ffd0;
    transition: color 0.3s;
}

.site-header a:hover {
    color: #2100b3;
}

.site-footer {
    text-align: center;
    margin-top: 1000px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    color: #333;
}

table {
    margin: 10px auto;
    width: 90%;
    border-collapse: collapse; /* 表格邊框合併，讓相鄰的邊框不重疊 */
    letter-spacing: 1px;       /* 表格內文字的字母間距為 1px */
    table-layout: fixed;       /* 表格欄寬固定，所有欄位平均分配寬度（不依內容調整） */
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;
}

/* 橫向排列的選項群組 */
.option-group-inline {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}
/* 單一 checkbox 或 radio 的容器，讓 input 和 label 對齊 */
.option-item-inline {
    display: flex;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}
.option-item-inline span {
    padding-left: 7px;
}
.option-item-inline:hover {
    background: rgba(255, 217, 0, 0.5);
}
.option-item-inline:has(:checked) {
    background: rgba(255, 217, 0, 0.5);
}
/* 讀書會資訊列表 */
.study-table {
    border: 2px solid #666;
    background-color: #ffeecf;
}

.study-table th {
    background-color: #ffddaa;
}

.study-table td {
    background-color: #ffe8d7;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .main-content, .sidebar {
        width: 100%;
        margin-bottom: 20px;
    }
}