<!--index.html-->
<!DOCTYPE html>
<html lang="zh-tw" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/layout}">
<!-- 這裡的layout:decorate是用來指定這個頁面要使用的layout -->
<!-- 這裡的th:replace是用來引入layout.html中的layout片段 -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>敘事首頁</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div layout:fragment="content">
        <h1>📚 敘事首頁</h1>
        <p>歡迎來到敘事讀書會</p>
        <a th:href="@{/regist}">👉 前往報名表單</a>
        <a th:href="@{/studies}">👉 前往讀書會列表</a>

        <p th:utext="${welcomeMessage}">預設歡迎訊息</p>
        <p th:utext="${systemNotice}">預設公告</p>
        <p th:utext="${specialMessage}">預設特殊訊息</p>
    </div>
</body>
</html>