<!-- confirmation.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>報名完成</title>
    <!-- 自訂 CSS (確保放在 Bootstrap 後面，避免被覆蓋) -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <!-- <div th:replace="fragments/header :: pageHeader"></div> -->
    <div class="regist-confirmation">
        <h1>報名成功！</h1>
        <p th:text="${message}">以下是您的報名資料：</p>
        
        <div class="regist-confirmation">
            <h2>報名資料</h2>
            <p th:text="'姓名：' + ${registForm.name}"></p>
            <p th:text="'聯絡信箱：' + ${registForm.email}"></p>
            <p th:text="'聯絡電話：' + ${registForm.phone}"></p>
            <p th:text="'學校/單位：' + ${registForm.schoolApart}"></p>
            <p th:text="'報名時間：' + ${#temporals.format(registForm.registDate, 'yyyy-MM-dd HH:mm:ss')}"></p>
            <p th:text="'報名場次：' + ${study.title}"></p>
            <p> 預購書本：</p>
                <ul>
                    <li th:each="book : ${books}" th:text="${book.name}"></li>
                </ul>
            <p th:text="'選擇卡片：' + ${card.name}"></p>
            <p th:text="'報名費用：' + ${study.fee} + ' 元'"></p>
            </p>
            
        </div>
        <div class="action">
            <a href="/regist">返回報名表單</a>
            <a href="/">返回首頁</a>
    </div>
</body>
</html>